@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #101112;
  --light: #dee8f1;
  --hover: #bfd0e0;
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  
  background: var(--light) ;
  color: var(--dark);
}
